* {
    margin: 0;
}

a {
    text-decoration: none;
    text-align: center;
    color: #000000;

}

body {
    font-family: "inter";
    font-size: 23px;
    background-color: #ffffff;
}
.main_header {
    background-color: #66CB42;
    text-align: center;
    height: 100%;
}

.main_header_nav ul {
    display: flex;
    justify-content: center;

}

.main_header_nav {
    text-align: center;

}

.main_header_nav_boton {
    background-color: #218F3E;
    width: 340px;
    padding: 18px;
    margin-top: 30px;
    margin-bottom: 31px;
    margin-right: 80px;
    border-radius: 167px;
}
.color_palabra{
    color: white;
}

.main_header_nav_boton:hover {
    transform: scale(1.2);
    transition: all 100ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    background-color: #125B00 ;

}
footer{
    background-color: #125B00;
    bottom: 0px;
    height: 70px;
    width: 100%;
    position: fixed;
    align-items: center;
    text-align: center;
}
.derechos_reservados{
    padding: 20px;
    color: #ffffff;
}
.imagen-logo{
    border-radius: 20px;
}

/*Inicio Página Home*/
.pagina_inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    line-height: 3;
}
.pagina_inicio_caja{
    padding: 25px;
    border: 2px solid #66CB42;
    box-sizing: content-box;
    background-color: #D9D9D9;
    
}
.imagen_salud{
    width: 200px;
    padding: 20px;
}







/*Fin Página Home*/








/*Inicio Página Integrantes*/
.imagen_integrantes{
        width: 340px;
        height: 350px;
        flex-shrink: 0;
        border-radius: 167px;
        margin: 16px;
        padding: 26px;
}

.cv_boton{
    background-color: #D9D9D9;
    width: 340px;
    padding: 15px;
    margin: 20px;
    border-radius: 167px;
}
.cv_boton:hover{
    background-color: #66CB42;
    padding: 19px;
    transition: all .9s ease;
}

.cv_alumnos{
    display: flex;
    flex-direction: column;
}

.cv_integrantes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px;
}

h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
}
/*Fin Página Integrantes*/

/*Inicio Página Proyecto*/
.proyecto_caja{
    display: flex;
    flex-direction: column;
    margin: 60px;
    text-align: center;
    width: 900px;
    position: relative;
    left: 250px;
    overflow: auto;
}
.propuesta_proyecto{
    padding: 15px;
}
.imagen_vida{
    padding: 40px;
}



/*Fin Página Proyecto*/

/*Inicio Página Integrantes*/




/*Fin Página Integrantes*/


/*Inicio Página Avances*/
.imagen_construccion{
    width: 500px;
    margin: 100px;
    position: relative;
    left: 450px;
}
/*Fin Página Avances*/

@media(max-width:550px){
    .main_header_nav ul{
        flex-wrap: wrap;
    }
    .imagen_salud {
        width: 10em;
        padding: 40px;
    }
    .main_header_nav_boton {
        width: 139px;
        margin: 20px;
    }   
    .imagen_construccion{
        width: 20em;
        padding: 2em;
        margin: 35px;
        position: relative;
        left: 0px;
    }
    .proyecto_caja{
        display: flex;
        flex-direction: column;
        margin: 60px;
        text-align: center;
        width: 19em;
        position: relative;
        left: 0px;
        overflow: auto;
    }
    footer {
        position: sticky;
    }
    .pagina_inicio{
     padding: 20px;
    }
    .footer_avances_sitio{
        position: fixed;
    }
}